$white: #fff;
$black: #000;
$grey-dark: #5e5e5e;
$grey: #7f7f7f;
$grey-light: #dfdfdf;
$dust: #c0aa82;
$brown: #de9e2e;
$brown-dark: darken($brown, 10);
$brown-darker: darken($brown, 30);
$blue: #0055b2;
$blue-dark: darken($blue, 10);
$blue-darker: darken($blue, 30);
$blue-light: #3595ff;
$blue-white: #a0cdff;
$red: #ff422c;
$red-light: #ffe8e6;

$font-size-1: 3.5rem;
$font-size-1-5: 2.8rem;
$font-size-2: 2rem;
$font-size-3: 1.7rem;
$font-size-4: 1.3rem;
$font-size-5: 1.2rem;
$font-size-6: 1rem;
$font-size-7: .9rem;
$font-size-8: .8rem;

$transition-time: 300ms;

$space-1: 20px;
$space-2: 40px;
$space-3: 80px;